node_modules/
dist/
!dist/
dist/*
!dist/crew_bid_bot.js
!dist/tensor_market.js
!dist/.tsbuildinfo
analysis/

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

*.local
